
<header>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                        <h1 class="display-4">Dershane</h1>
                        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta, ducimus
                                asperiores.
                                Voluptatem distinctio, voluptate sequi nemo ipsum excepturi cum in eveniet, architecto
                                voluptas,
                                maxime dolorum quam. Rerum dolor fugiat libero?</p>
                </div>
        </div>
</header>