
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    @RenderSection("Css",false)
    <link rel="stylesheet" href="~/css/style.css">

    <title>Dershane</title>
</head>

<body>

    @await Html.PartialAsync("_navbar")

    <main class="my-3">
        <div class="container">
            @if (TempData["message"]!= null)
            {
                <partial name="_ResultMessage" model="@(TempData.Get<AlertMessage>("message"))"/>
                
            }
            @RenderBody()
            </div>
        </div>
    </main>

    <footer class="py-5 bg-dark text-white text-center">
        Dershane | 2021
    </footer>

    <script src="/modules/jquery/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.8.1/css/all.css">
    @RenderSection("Scripts",false)
</body>

</html>