@model Ogrenci

<div class="card mb-2">
    <img class="card-img-top"
        src="~/img/@Model.ImageUrl">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <small class="text-muted">
            <i class="fas fa-lira-sing"></i>@Model.Sınıf
        </small>
    </div>

    <div class="card-footer text-canter">
         <a asp-controller="Genel" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-info btn-sm">İncele</a>
         <a asp-controller="Genel" asp-action="addtocart" asp-route-id="@Model.OgrenciId" class="btn btn-primary btn-sm">Kart Ekle</a>
    </div>
</div>