@model AlertMessage
               
    <div class="roe">
        <div class="col-md-12">
<div class="alert-@Model.AlertType">
    <h4 class="alert-title">@Model.Title</h4>
 <p>@Model.Message</p>

</div>
        </div>
    </div>    


