@model BolumListViewModel




<div class="row">
    <div class="col-md-12">
        <h1 class="h3">Admin Kategoriler</h1>
        <hr>
        <a class="btn btn-primary btn-sm" href="/admin/bolumler/create">Kategori Ekle</a>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td>Name</td>
                    <td style="width: 150px;"></td>
                </tr>
            </thead>
            <tbody>

                @if(Model.Bolumler.Count>0){
                    @foreach (var item in Model.Bolumler)
                        {
                            <tr>
                                <td>@item.BolumId</td>
                                <td>@item.Name</td>
                               
                                <td>
                                    <a href="/admin/bolumler/@item.BolumId" class="btn btn-primary btn-sm mr-2">Düzenle</a>
                                    
                                    <form action="/admin/deletebolum" method="POST" style="display: inline;">
                                    <input type="hidden" name="bolumId" value="@item.BolumId">
                                    <button type="submit" class="btn btn-danger btn-sm">Sil</button>
                                    </form>    
                                </td>
                            </tr>
                        }
                }else{
                    <div class="alert alert-warning">
                        <h3>Kategori Yok</h3>
                    </div>

                }
                
            </tbody>
        </table>
    </div>
</div>