@model OgrenciListViewModel

@{
     var popularClass = Model.Ogrenciler.Count > 2? "popular" : ""; 
     var ogrenciler = Model.Ogrenciler;
}

@section Bolumler{
    @await Component.InvokeAsync("Bolumler")
}
      @if (ogrenciler.Count == 0)
        {
            @await Html.PartialAsync("_noogrenci")
        }
        else
        {
            <div class="row">
                @foreach (var ogrenci in ogrenciler)
                {
                    <div class="col-md-4">
                        @await Html.PartialAsync("_ogrenci",ogrenci)
                    </div>
                }
            </div>
        } 